
<!DOCTYPE html>
<!--
<h2>UpperCase Pipe</h2>
<b>{{title | uppercase}}</b>
<hr>
<h2>LowerCase Pipe</h2>
<h1>{{title | lowercase}}</h1>
<hr>
<h2>Date Pipe</h2>
<b>{{todayDate | date}}</b>
<hr>
<h2>Date Pipe</h2>
<b>{{todayDate | date: 'd/m/y'}}</b>
<hr>
<h2>percent Pipe</h2>
<b>{{00.5456 | percent}}</b>
<hr>
<h2>Months Pipe</h2>
<b>{{months | slice:2:6}}</b>
<hr>
<hr>
<h1>Custom Pipe : Sqrt</h1>
<h1>Square root of 64 is {{64 | sqrt}}</h1> 
--> 

<!-- <app-pipedemo></app-pipedemo> -->
<app-di-demo></app-di-demo>